extends layout.pug
block content
    #map
    div#delete Delete Features
    a#export(href='#') Export Features
    input#textbox(type="text", name="territoryName", placeholder="Current territory")
    script(type='text/javascript', src='javascripts/map.js')
    
        